[Desktop Entry]
Type=Application
Version=1.0
Name=JoyRead
GenericName=Manga and Light Novel Reader
Comment=Read manga archives and light novels
Exec=/opt/joyread/JoyRead %F
Icon=joyread
Terminal=false
Categories=Graphics;Viewer;
MimeType=application/x-7z-compressed;application/x-cb7;application/vnd.comicbook-rar;application/vnd.comicbook+zip;application/pdf;application/vnd.rar;application/x-rar-compressed;application/zip;
StartupWMClass=JoyRead
